body {
  background: linear-gradient(
    135deg, 
    #121212 0%,     
    #212121 40%,    
    #535353 100%    
  );
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #121212;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: #1DB954;
  max-width: 400px;
  width: 90%;
}
